@CHARSET "UTF-8";

body {
	background-image: url("img/background.jpg");
   margin-top: 5em;
   overflow-y: scroll;
}

footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

.panel-heading h1,
.panel-heading h2,
.panel-heading h3,
.panel-heading h4 {
   margin: 0 auto;
}


body:not(.loggedin) .user-only {
   display: none !important;
}
