@CHARSET "UTF-8";

body {
	background-image: url("img/background.jpg");
   margin-top: 5em;
   overflow-y: scroll;
}

footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

.panel-heading h1,
.panel-heading h2,
.panel-heading h3,
.panel-heading h4 {
   margin: 0 auto;
}

.teams-list .panel a {
   text-decoration: none;
}
.teams-list .panel a h4 {
   margin-top: 0;
}
.teams-list .panel a:hover h4 {
   text-decoration: underline;
}
.teams-list .panel p {
   margin-bottom: 0;
}

body:not(.loggedin) .user-only {
   display: none !important;
}

.overlay {
   position: fixed;
   z-index: 1030;
   left: 0px;
   right: 0px;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
   body {
      margin-top: 4em   ;
   }
   body > .container > .row > .panel .panel-heading {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
   }
}
