<script src="lib/teampagelib.js"></script>
<style type="text/css">
#data-table {
	display: block;
}

.bar span {
	background: #fefefe url(lib/info-bg.gif) 0 100% repeat-x;
}

.fig0 {
	background: #747474 url(lib/bar-01-bg.gif) 0 0 repeat-y;
}

.fig1 {
	background: #65c2e8 url(lib/bar-01-bg.gif) 0 0 repeat-y;
}

.fig2 {
	background: #eea151 url(lib/bar-01-bg.gif) 0 0 repeat-y;
}
</style>
{{#if loading}}
   <h4>Loading...</h4>
{{else}}
   <p><a class="btn btn-default" href="team/{{team_number}}/edit">Edit</a></p>
	<p>
		<b>Summary:</b>
		{{summary || "None"}}
	</p>
	<div class="row">
		<div class="col-sm-5">
			<p style="margin-bottom: 0;">
				<b>Strengths:</b>
            {{#unless splitLine(strengths).length}}
               None
            {{/unless}}
			</p>
			<p style="margin-left: 1em;">
            {{#each splitLine(strengths)}}
               <b>&middot;</b> {{.}}<br />
            {{/each}}
			</p>
		</div>
		<div class="col-sm-5">
			<p style="margin-bottom: 0;">
				<b>Weaknesses:</b>
            {{#unless splitLine(weaknesses).length}}
               None
            {{/unless}}
			</p>
			<p style="margin-left: 1em;">
            {{#each splitLine(weaknesses)}}
               <b>&middot;</b> {{.}}<br />
            {{/each}}
			</p>
		</div>
	</div>
	<p style="margin-bottom: 0;">
		<b>Should we consider them? Score: {{score || "0"}}/100</b>
	</p>
   <!--
   <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{score}}" aria-valuemin="0" aria-valuemax="100" style="width: {{score}}%">
		</div>
	</div>
	<div id="wrapper">
		<div class="chart">
			<table id="data-table" border="1" cellpadding="10" cellspacing="0"
				summary="The effects of the zombie outbreak on the populations
            of endangered species from 2012 to 2016">
				<caption>Robot Ranking</caption>
				<thead>
					<tr>
						<td>&nbsp;</td>
						<th scope="col">Spy</th>
						<th scope="col">Deffense</th>
						<th scope="col">Assist</th>
						<th scope="col">Shoot</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">null</th>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr>
						<th scope="row">Carbon Tiger</th>
						<td>
							1000
						</td>
						<td>
							2000
						</td>
						<td>
							3000
						</td>
						<td>
							4000
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<script>
			buildBarGraph('data-table');
		</script>
		<p style="margin-bottom: 0;">
			<b>Photos</b>
		</p>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators --
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			</ol>

			<!-- Wrapper for slides --
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="thereisnoimage.jpg" alt="Chania">
				</div>
			</div>

			<!-- Left and right controls --
			<a class="left carousel-control" href="#myCarousel" role="button"
				data-slide="prev"> <span
				class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a> <a class="right carousel-control" href="#myCarousel"
				role="button" data-slide="next"> <span
				class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div> -->

{{/if}}
