{{#if loading}}
   <h4>Loading...</h4>
{{else}}
   <p><a class="btn btn-default" href="#/team/{{team_number}}/edit">Edit</a></p>
   <p><a class="btn btn-default" href="https://www.thebluealliance.com/team/{{team_number}}" target="_blank">Open in TBA</a></p>
	<p>
		<b>Summary:</b>
		{{#unless splitLine(summary).length}}
           None
        {{/unless}}
        <br/>
		{{#each splitLine(summary)}}
           {{.}}<br />
        {{/each}}
	</p>
	<div class="row">
		<div class="col-sm-5">
			<p style="margin-bottom: 0;">
				<b>Strengths:</b>
            {{#unless splitLine(strengths).length}}
               None
            {{/unless}}
			</p>
			<p style="margin-left: 1em;">
            {{#each splitLine(strengths)}}
               <b>&middot;</b> {{.}}<br />
            {{/each}}
			</p>
		</div>
		<div class="col-sm-5">
			<p style="margin-bottom: 0;">
				<b>Weaknesses:</b>
            {{#unless splitLine(weaknesses).length}}
               None
            {{/unless}}
			</p>
			<p style="margin-left: 1em;">
            {{#each splitLine(weaknesses)}}
               <b>&middot;</b> {{.}}<br />
            {{/each}}
			</p>
		</div>
	</div>
	<p style="margin-bottom: 0;">
		<b>Should we consider them?</b>
	</p>
   <div class="progress" style="height: 20px;">
       <div class="progress-bar progress-bar-{{#if score < 30}}warning{{else}}success{{/if}}" role="progressbar" aria-valuenow="{{score}}" aria-valuemin="1" aria-valuemax="100" style="font-size:20px; padding:4px; width: {{score}}%;">
          {{#if score > 15}}Overall Score: {{/if}}{{#if score > 3}}{{score || "0"}}%{{/if}}
       </div>
   </div>

   <!--
   <p style="margin-bottom: 0;">
      <b>Photos</b>
   </p>
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators --
      <ol class="carousel-indicators">
         <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      </ol>

      <!-- Wrapper for slides --
      <div class="carousel-inner" role="listbox">
         <div class="item active">
            <img src="thereisnoimage.jpg" alt="Chania">
         </div>
      </div>

      <!-- Left and right controls --
      <a class="left carousel-control" href="#myCarousel" role="button"
         data-slide="prev"> <span
         class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
      </a> <a class="right carousel-control" href="#myCarousel"
         role="button" data-slide="next"> <span
         class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
         <span class="sr-only">Next</span>
      </a>
   </div>-->

   <p class="scores">
      {{#if showChart}}
         {{#each stats.defenses:field}}
            <div class="row">
               <div class="col-md-2"><b>{{stat_labels[field]}}:</b></div>
               <div class="col-md-10">{{.}}</div>
            </div>
         {{/each}}
      {{else}}
         <b>Scores:</b>
         None
      {{/if}}
      {{#each questions:i}}
         <div class="form-group">
            {{#if before}}
               {{{before}}}
            {{/if}}
            {{#if field}}
               <label for="questions-{{i}}">
                  {{#if type == "checkbox"}}
                     <input
                        id="questions-{{i}}"
                        type="{{type}}"
                        checked="{{value}}"
                        {{{attr}}}
                     />
                  {{/if}}
                  {{field}}
               </label>
            {{/if}}
            <p>
               {{#if type}}
                  {{#if type == "textarea"}}
                     <textarea id="questions-{{i}}" class="form-control" value="{{value}}" readonly></textarea>
                  {{elseif type != "checkbox"}}
                     <input
                        id="questions-{{i}}"
                        type="{{type}}"
                        value="{{value}}"
                        class="form-control"
                        {{{attr}}} readonly
                     />
                  {{/if}}
               {{/if}}
            </p>
            {{#if after}}
               {{{after}}}
            {{/if}}
         </div>
      {{/each}}
   </p>

   <hr>
   <h3>Feed:</h3>
   <Feed base_url="team/{{team_number}}" />
{{/if}}
