<div>
   <form role="form" method="async" action="{{action}}">
      <div class="form-group">
         <label for="team_number">Team Number</label>
         <input type="number" min="1" max="9999" class="form-control" id="team_number" name="team_number" placeholder="(e.g. 4534)" value="{{team_number}}" twoway="false" required {{#if id}}disabled{{/if}}>
      </div>
      <div class="form-group">
         <label for="team_name">Team Name</label>
         <input type="text" class="form-control" id="team_name" name="team_name" placeholder="(e.g. Wired Wizards)" value="{{team_name}}" >
      </div>
      <div class="form-group">
         <label for="summary">Summary</label>
         <textarea type="text" class="form-control" id="summary" name="summary" value="{{summary}}"></textarea>
      </div>
      <div class="form-group">
         <label for="strengths">Strengths</label>
         <textarea type="text" class="form-control" id="strengths" name="strengths" value="{{strengths}}"></textarea>
      </div>
      <div class="form-group">
         <label for="weaknesses">Weaknesses</label>
         <textarea type="text" class="form-control" id="weaknesses" name="weaknesses" value="{{weaknesses}}"></textarea>
      </div>
      <button type="submit" class="btn btn-default btn-sm">Submit</button>
      {{#if id}}
         <a class="btn btn-danger btn-sm" href="#/team/{{team_number}}">Cancel</a>
      {{else}}
         <a class="btn btn-danger btn-sm" href="#/team">Cancel</a>
      {{/if}}
   </form>
</div>
