<div>
   <form role="form" method="async" action="{{action}}">
      <div class="form-group">
         <label for="team_number">Team Number</label>
         <input type="number" min="1" max="9999" class="form-control" id="team_number" name="team_number" placeholder="(e.g. 4534)" value="{{team_number}}" twoway="false" required {{#if id}}disabled{{/if}} onkeyup="teamNumChange();" />
         <script type="text/javascript">
            function teamNumChange() {
               var val = document.getElementById('team_number').value;
               if (!val) {
                  return;
               }
               function changeTeamName(x) {
                  document.getElementById('team_name').value = x;
               }
               getTeamName(val, changeTeamName);
            }
         </script>
      </div>
      <div class="form-group">
         <label for="team_name">Team Name</label>
         <input type="text" class="form-control" id="team_name" name="team_name" placeholder="(e.g. Wired Wizards, The)" value="{{team_name}}" >
      </div>
      <div class="form-group">
         <label for="summary">Summary</label>
         <textarea type="text" class="form-control" id="summary" name="summary" value="{{summary}}"></textarea>
      </div>
      <div class="form-group">
         <label for="strengths">Strengths</label>
         <textarea type="text" class="form-control" id="strengths" name="strengths" value="{{strengths}}"></textarea>
      </div>
      <div class="form-group">
         <label for="weaknesses">Weaknesses</label>
         <textarea type="text" class="form-control" id="weaknesses" name="weaknesses" value="{{weaknesses}}"></textarea>
      </div>
      <div class="form-group">
         <label for="team_number">Overall Score: {{score}}</label>
         <input type="range" min="1" max="100" class="range" id="score" name="score" placeholder="(e.g. 84)" value="{{score}}" required>
      </div>

      <!-- {{#each scores:field}}
         <div class="form-group">
            <label>{{field}} Score: {{scores[field]}}</label>
            <input type="range" min="1" max="100" value="{{scores[field]}}" />
         </div>
      {{/each}} -->

      {{#each questions:i}}
         <div class="form-group">
            {{#if before}}
               {{{before}}}
            {{/if}}
            {{#if field}}
               <label for="questions-{{i}}">
                  {{#if type == "checkbox"}}
                     <input
                        id="questions-{{i}}"
                        type="{{type}}"
                        checked="{{value}}"
                        {{{attr}}}
                     />
                  {{/if}}
                  {{field}}
               </label>
            {{/if}}
            <p>
               {{#if type}}
                  {{#if type == "textarea"}}
                     <textarea id="questions-{{i}}" class="form-control" value="{{value}}"></textarea>
                  {{elseif type != "checkbox"}}
                     <input
                        id="questions-{{i}}"
                        type="{{type}}"
                        value="{{value}}"
                        class="form-control"
                        {{{attr}}}
                     />
                  {{/if}}
               {{/if}}
            </p>
            {{#if after}}
               {{{after}}}
            {{/if}}
         </div>
      {{/each}}

      <input name="scores_json" value="{{scores_json}}" twoway="false" type="hidden"  />
      <input name="questions_json" value="{{questions_json}}" twoway="false" type="hidden"  />

      <button type="submit" class="btn btn-default btn-sm">Submit</button>
      <a class="btn btn-danger btn-sm" href="#" onclick="history.go(-1); return false">Cancel</a>
   </form>
</div>
