<div class="row">
  <div class="col-sm-12">
      <div class="panel panel-default text-left">
         <div class="panel-body">
            Update:
            <textarea class="form-control" rows="1" id="update-text"
               style="max-width: 100%;">FRC Team 1234 seems nice!</textarea>
            <div style="text-align: right; margin-top: 0.5em;">
               <button type="button" class="btn btn-default btn-sm">Submit</button>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-sm-3">
      <div class="well">
         <p>John</p>
         <img src="img/bird.jpg" class="img-circle" height="55" width="55"
            alt="Avatar">
      </div>
   </div>
   <div class="col-sm-9">
      <div class="well">
         <p>Just Forgot that I had to mention something about someone to
            someone about how I forgot something, but now I forgot it. Ahh,
            forget it! Or wait. I remember.... no I don't.</p>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-sm-3">
      <div class="well">
         <p>John</p>
         <img src="img/bird.jpg" class="img-circle" height="55" width="55"
            alt="Avatar">
      </div>
   </div>
   <div class="col-sm-9">
      <div class="well">
         <p style="color: green">Updated Weaknesses of team 4534, The Wired Wizards</p>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-sm-3">
      <div class="well">
         <p>John</p>
         <img src="img/bird.jpg" class="img-circle" height="55" width="55"
            alt="Avatar">
      </div>
   </div>
   <div class="col-sm-9">
      <div class="well">
         <p style="color: green">Updated Strengths of team 4534, The Wired Wizards</p>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-sm-3">
      <div class="well">
         <p>John</p>
         <img src="img/bird.jpg" class="img-circle" height="55" width="55"
            alt="Avatar">
      </div>
   </div>
   <div class="col-sm-9">
      <div class="well">
         <p style="color: green">Updated Summary of team 4534, The Wired Wizards</p>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-sm-3">
      <div class="well">
         <p>John</p>
         <img src="img/bird.jpg" class="img-circle" height="55" width="55"
            alt="Avatar">
      </div>
   </div>
   <div class="col-sm-9">
      <div class="well">
         <p>Finally found The Wired Wizards! They seem nice!</p>
      </div>
   </div>
</div>
