<form id="registerForm">
   <input name="teamnum" type="number" placeholder="Team Number"
      spellchecking="false" size="4" class="form-control" autofocus><br>
   <input name="firstname" type="text" placeholder="First Name"
      spellchecking="false" class="form-control" autofocus><br>
   <input name="lastname" type="text" placeholder="Last Name"
      spellchecking="false" class="form-control" autofocus><br>
   <input name="username" type="text" placeholder="Username"
      spellchecking="false" class="form-control" autofocus><br>
   <input name="password" type="password" placeholder="Password"
      spellchecking="false" class="form-control"><br>
   <input name="passconf" type="password" placeholder="Confirm Password"
      spellchecking="false" class="form-control"><br>
   <div style="text-align: right; margin-top: 0.5em;">
      <button type="submit" class="btn btn-default btn-sm">Sign Up</button>
   </div>
</form>
<p id="response">Server Response</p>
<div style="text-align: left; margin-bottom: 1.5em;">
   <a href="registerteam.php">
      <button type="button" class="btn btn-default btn-sm">New Team</button>
   </a>
</div>
