<form method="async" action="auth">
   <input name="teamnum" type="number" placeholder="Team Number"
      spellchecking="false" size="4" class="form-control"
      autofocus><br> <input name="username" type="text"
      placeholder="Username" spellchecking="false"
      class="form-control" autofocus><br> <input name="password"
      type="password" placeholder="Password" spellchecking="false"
      class="form-control"><br>
   <div style="text-align: right; margin-top: 0.5em;">
      <button type="submit" class="btn btn-default btn-sm">Sign In</button>
   </div>
</form>
<p id="quote">Quote is here</p>
<script type="text/javascript">
var quotes = [
      "If you believe it you can achieve it!<br/>-Unknown",
      "It's kind of fun to do the impossible.<br/>-Walt Disney",
      "All our dreams can come true, if we have the courage to pursue them.<br/>-Walt Disney",
      "We keep moving forward, opening new doors, and doing new things, because we're curious and curiosity keeps leading us down new paths.<br/>-Walt Disney",
      "Sometimes when you innovate, you make mistakes. It is best to admit them quickly, and get on with improving your other innovations.<br/>-Steve Jobs",
      "Victory goes to the player who makes the next-to-last mistake.<br/>- Chessmaster Savielly Grigorievitch Tartakower",
];
document.getElementById("quote").innerHTML = '<div style="display: inline; font-size: 5em;"><sub>"</sub></div>' + quotes[Math.floor(Math.random() * quotes.length)];
</script>